<div>
    <h1>Carrito: {{cart._id}}</h1>
    <h2>Productos</h2>
    <div>
        {{#each cart.products}}
        <h4>Producto: {{this._id._id}}</h4>
        <ul>
            <li>Titulo: {{this._id.title}}</li>
            <li>Descripcion: {{this._id.description}}</li>
            <li>Precio: {{this._id.price}}</li>
            <li>Imagen: {{this._id.thumbnail}}</li>
            <li>Cantidad:{{this.quantity}}</li>
        </ul>
    {{/each}}
    </div>
    <button id="generatePurchase" onclick="generatePurchase('{{cart._id}}')">Generar ticket de compra</button>
</div>
<script src="/js/generatePurchase.js"></script>